@charset "UTF-8";
/* SHORTCUTS
   This CSS Document contains all the unique shortcut 
   techniques for styling elements thoughout the web site.
*/
/* PORTFOLIO ELEMENTS */

.picture {
    position: relative;
    overflow: hidden;
}

.picture strong {
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    padding-top: 70px;
    display: block;
    display: inline;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    color: #fff;
    font-size: 30px;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

.picture a {
    text-decoration: none;
}

.picture strong span {
    font-family: 'Helvetica Neue', Helvetica, Arial;
}

.launchBtn {
    float: right;
    margin-top: -5px;
}

.gameBtn {
    margin-top: -5px;
}
/* Transitions for LAUNCH BUTTON
-------------------------------------------------------------- */

.buttonHover {
    opacity: 1;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.buttonHover:hover {
    opacity: .7;
}

.small_launch_button {
    text-decoration: none!important;
    background-color: #2e5673 !important;
    border-color: #10324a !important;
    /*background:url(../images/common/button_overlay.png)*/
    
    repeat-x 0 0 #111;
    text-transform: uppercase;
    border: 1px solid #10324a;
    margin: 5px 10px 5px 0;
    display: inline-block;
    letter-spacing: 1px;
    padding: 8px 15px 6px;
    line-height: 15px;
    font-size: 12px;
    color: #f8f8f8;
}

.small_launch_button:hover {
    text-decoration: none!important;
    cursor: pointer;
    color: #fff;
}

.full_divider {
    background-image: url(../images/common/twoLine_divider.png);
    width: 935px;
    height: 2px;
    margin-bottom: 20px;
}

.adobe {
    padding-top: 40px;
}

.port-details h2 {
    padding-top: 10px;
}