/* TYPOGRAPHY
   This CSS Document will contain all the 
   type style used thoughout the web site.
*/
/* Basic CSS Format
selector {
	property:value 
}
*/

body {
    color: #5f5f5f;
    font-family: 'Istok Web', Helvetica, Arial, sans-serif;
}

p {
    font-size: 16px;
    line-height: 1.4rem;
    font-family: 'Istok Web', Helvetica, Arial, sans-serif;
    color: #5f5f5f;
    margin-bottom: 1rem;
}

a {
    color: #154d7a;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4rem;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*font-family:'Oswald','Radley', Times, serif;*/
    
    font-family: 'Crimson Text', serif;
    ;
    padding-bottom: 10px;
    /*padding-top:25px;*/
    
    margin-left: 0 !important;
    color: #0b283f;
    text-shadow: 1px 1px #fff;
}

h1 span {
    color: #154d7a;
}

h2 span {
    color: #154d7a;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 17px;
    font-weight: bold;
}

h5 {
    font-size: 16px;
    font-weight: bold;
}

h6 {
    font-size: 15px;
    font-weight: bold;
}

#clock {
    font-size: 12px;
    font-family: 'Droid+Sans', Arial, Helvetica, Sans-Serif;
    text-align: center;
    color: #dad2bd;
    /*color:#676051; */
    
    border: none;
    background-color: transparent;
    position: absolute;
    margin-top: 12px;
    margin-left: 898px;
    margin-bottom: -25px;
}

#photogallery h2 {
    padding-left: 10px;
}

#contactForm {
    margin-top: 40px;
}

#contactForm .form-group input {
    width: 40%;
    font-size: 95%;
}

#contactForm .form-group textarea {
    width: 80%;
    height: 200px;
    font-size: 95%;
}

#contactForm input[type=text],
#contactForm input[type=email],
#contactForm input[type=tel],
#contactForm textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 0px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}

#contactForm input[type=text]:focus,
#contactForm input[type=email]:focus,
#contactForm input[type=tel]:focus,
#contactForm textarea:focus {
    box-shadow: 0 0 5px #0d2537;
    padding: 3px 0px 3px 3px;
    margin: 0px 1px 3px 0px;
    border: 1px solid #0d2537;
}